%h1 Welcome to sample Simple Panel rails backend

%p Documentation: #{link_to 'link', api_grape_swagger_rails_path}
%p Github: #{link_to 'link', 'https://github.com/robertziel/simple_panel_rails_backend'}

%h4 Sample user login credentials:
%p email: hello@robertz.co
%p password: 12345678

%h2 React client
%p Live preview: #{link_to 'link', 'https://simple-panel-react-client.robertz.co/'}
%p Github: #{link_to 'link', 'https://github.com/robertziel/simple_panel_react_client'}

%h3 Designed by #{link_to 'Robert Zieliński', 'https://robertz.co'}
